/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Sep, 2017, 9:39:09 PM
    Author     : snehil

*/

body {
    background-color: black;
    padding: 0px;
}

.content-box {
    height: 90vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;    
}

#heading {
    font-family: 'Merriweather', serif;
    font-size: 80px;
    text-shadow: 3px 5px red;
    color: yellow;
}

.message {
    font-family: 'Inconsolata', monospace;
    margin-bottom: 50px;
    color: yellow;
}

h5, h6 {
    font-size: 35px;
}

#getQuote {
    color: yellow;
} 

i {
    font-size: 50px;
    color: yellow;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

footer {
    height: 10vh;
    color: yellow;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    text-align: center;
}

a {
    color: yellow;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    color: yellow;
}

a:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

a:hover:after {
    width: 100%;
    background: yellow;
}
